@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html,body {
  height:100%;
  margin:0;
  padding:0;
}

body{
 margin:0;padding:0;
  height: 100%;
font-family: 'Open Sans', sans-serif; ;
}
.navbar {
    background-color: #120842 !important;
    opacity: 0.8;
    border-bottom : #c69c6d 1px solid;
    margin-bottom: 2%;
   padding: 10px 50px; 
}

.navbar a {
    color:#fff;
    float: right;
    text-align: left;
    
}

.navbar .navbar-nav > .active > a{
    border-bottom: #c69c6d 2px solid;  
}

.navbar .dropdown-menu {
    background-color: #120842 !important;
}

.main_container {
 background: url("../img/service_background.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : auto;
} 

.main_container22 {
 background: url("../img/about_background.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : auto;
} 

.main_container33 {
 background: url("../img/servicess_background.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : auto;
}

.main_container44 {
 background: url("../img/contact_background.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : auto;
}



svg {
  /*position: absolute;*/
  font: 7em 'Open Sans', sans-serif;
  letter-spacing: 0.15em;
    font-weight: lighter;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

svg text {
  fill: #c69c6d;
  stroke: #c69c6d;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 5s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}

.content_container  {
 background-color: #120842;
    height : auto;
     color: #c69c6d;
    text-align: center;
    margin : 4% 0;
    padding : 5% 20%;  
    
} 

.content_container p {
    font-size: 1.2em; 
    font-weight: 200;
}

.content {
    padding : 0 15%;
    margin : 4% 0;
    text-align: center;
    letter-spacing: 0.1rem;
}
.content p{
    font-size: 1.2em; 
    font-weight: 200;
}

.enroll_container  {
 background-color: #120842;
    height : auto;
     color: #c69c6d;
    align-content: center;
    padding : 5% 20%;  
    
}

.enroll_container ul >li {
    padding : 5px 10px;
    display: inline-block;
    text-decoration: none;
}

.enroll_container ul a {
    font-weight: 100;
    color : #c69c6d;
}

.enroll span {
    margin-top : 20px;
    background-color: #fff;
    padding : 1% 2%;
    border-radius: 50px;
    
}

.enroll span:hover  {
   background-color: #d2d2d2; 
}
.founder_container{
     background-color:#f5f5f5;
    margin-top:24%;
     margin-bottom:5%;
    padding : 5%;
    text-align: center;
}

.founder_container h1 {
    color: #120842;
    font-size: 4em;
    font-weight: 900; 
    padding-top: 15px;
    letter-spacing: 5px;
    text-align: center;
}
.founder_container p {
    color: #120842;
    font-size : 1.1rem ;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
}


.founder_container img {
    margin-top: -20%;
}

.about_us {
    padding : 3% 15%;
}

.about_us h1 {
    color: #120842;
    font-size: 4em;
    font-weight: 900; 
    padding-top: 15px;
    letter-spacing: 5px;
    text-align: center;
}
.about_us p {
    color: #120842;
    font-size : 1.2rem ;
    font-weight: 300;
    text-align: center;
    
}

.about_back {
   color : #c69c6d; 
     background-color: #120842;
    margin-bottom: 5px;
      font-size : 1.3rem ;
     font-weight: 300;
}
.about_back img {
    padding-top: 20px;
}

.offer {
    margin-bottom: 3%;
}

.offer h3{
    font-weight: bolder;
}

.offer img {
    padding: 3%;
    border-bottom: #120842 2px solid;
   
}


.contact_container { background-color: #eedbc5;
    margin: 0;
	padding: 0;
background-size: cover;
	height:auto;
   }

.contact_container span {
    font-weight: bolder;
    font-size: 1.4rem;
   color: #06021b;
}
.contact_container p{
    
    font-size: 1.4rem;
     color: #06021b;
}



footer {
     background-color: #06021b; 
     color: #fff;
    padding : 9px 3px 0px 3px;
    font-weight: 200;
    letter-spacing: 2px;
}

/*main {
  min-width: 320px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 10px 10px;
    letter-spacing: ;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before { content: '\f1cb'; }
label[for*='2']:before { content: '\f17d'; }
label[for*='3']:before { content: '\f16b'; }
label[for*='4']:before { content: '\f1a9'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 4px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

*/



.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.carousel-control-prev{
    top: -30% !important;
}
.carousel-control-next{
    top: -30% !important;
}



/****new****/

body, html {
    height: 100%;
}


.service_back1 {
 background: url("../img/service1.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 265px;
}

.service_back2 {
 background: url("../img/service2.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 265px;
}
.service_back3 {
 background: url("../img/service3.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 265px;
}

.service_back4 {
 background: url("../img/service4.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 265px;
}
.service_back5 {
 background: url("../img/service5.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 265px;
}

.service_back6 {
 background: url("../img/service6.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 265px;
}

.service_back7 {
 background: url("../img/service7.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 265px;
}


.service_back1 h2 {
    color: #c69c6d;
    text-align: center;
  
}

.service_back2 h2 {
    color: #c69c6d;
    text-align: center;
  
}
.service_back3 h2 {
    color: #c69c6d;
    text-align: center;
  
}
.service_back4 h2 {
    color: #c69c6d;
    text-align: center;
  
}

.service_back5 h2 {
    color: #c69c6d;
    text-align: center;
  
}

.service_back6 h2 {
    color: #c69c6d;
    text-align: center;
  
}

.service_back7 h2 {
    color: #c69c6d;
    text-align: center;
  
}


.service_background2 {
 background: url("../img/service1.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : auto;
}


/*******CONTACT-FORM******/


.contact-grids input[type="text"] {
    border: #393939 solid 1px;
	border-radius: 5px;
    width: 100%;
    margin: 0 0 1em 0;
    outline: none;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    opacity : 0.8;
    -webkit-appearance: none;
   /* background-color:#98d2ff /*rgba(255, 255, 255, 0.7)*/;
}
.contact-grids textarea {
    border: none;
	border-radius: 1px;
    outline: none;
    font-size: 1em;
     font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    width: 100%;
    resize: none;
    height: 13em;
    -webkit-appearance: none;
	background-color: ;
}

.contact-grids input[type="submit"] {
    border: 1px solid #327b91;
	border-radius: 3px;
    float: center;
    padding: .3em 0;
    width: 30%;
    margin-top: 0.6em;
    font-size: 1em;
     font-family: 'Open Sans', sans-serif;  
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background-color: #120842;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
}
.contact-grids input[type="submit"]:hover {
    /*border: 1px solid rgb(22, 29, 233);
    color: rgb(22, 29, 233);*/
    background-color: #29a2ff;
}

@media only screen and (max-width:700px){
    
        .content {
    padding : 0 1%;
    margin : 4% 0;
    text-align: left;
    letter-spacing: 0.1rem;
}
    
    
    .content_container {
        margin : 4% 0;
        text-align: left;
    padding : 3% 1%;  
    }
    
    .enroll_container  {
 background-color: #120842;
    height : auto;
     color: #c69c6d;
    align-content: center;
    padding : 5% 2%;  
    
}
    
     .navbar-toggle {
        display: none;
    }

    .navbar-header button {
        display: block;
    }
    
    
    .about_us {
    padding : 2%;
}

.founder_container{
    background-color:#f5f5f5;
    margin-top:20%;
    padding: 3%;
}

.founder_container img {
    margin-top: 1%;
    padding: 3%;
}

}




.contact-info [type="text"],.contact-info textarea {
    border: #393939 solid 1px;
	border-radius: 5px;
    width: 100%;
    margin: 0 0 1em 0;
    outline: none;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    opacity : 0.8;
    -webkit-appearance: none;
}
.contact-info textarea {
	min-height: 130px;
    resize: none;
}

