body{
padding-top:0px;

}


.background-video {
	position: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height:100%;
}

.products {
       /* background: rgba(4,160,110,0.4);*/
     background: url(../img/homepro.png);
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	height:auto;
}

.agileinfo-dot{
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    /*padding: 3em 0;*/
      height:auto;
}
.aboutwrapper {
        background: url(../img/aboutus.png) ;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	height:auto;
}
.productswrapper {
        background: url(../img/products.png) ;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	height:auto;
}
.projectswrapper {
        background: url(../img/projectsback.png) ;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	height:auto;
}
.contactwrapper {
        background: url(../img/contact.png) ;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	height:auto;
}
.clients {
        background: url(../img/ourclients.png) ;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	height:auto;
}
p{
text-align:justify;	
    text-justify:kashida;
    font-size: 140%;
    color: #4e4d4d;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}

#myCarousel h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4e4d4d; 
    font-size: 3.5em;
    font-style: italic;
    padding: 5%;
}
.contain1 {
    /*background-color: #01bc81;*/
    background-size: cover;
    height: auto;
    border-radius: 5px;
   
}
.contain1  h1{
     font-size: 3.3em;
   text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color:#29a2ff;
}

.contain1 p{
    color: #444444;
}
.contain2 {
    background-color: #29a2ff ;
    background-size: cover;
    height: auto;
    border-radius: 5px;
}
.contain2  h1{
     font-size: 3.5em;
   text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
  
}
.contain2  h2{
     font-size: 2.5em;
   text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
   
}
/******CSS****/
    
body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position:relative;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 15px;  
  z-index: 999;
  display: block;
  width: 25px;
  height: 35px;
  margin-left: 12px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: white;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}  

.pro{
    background-color: #06ccca;
    height: auto;
}


.card-body{
    background-color: #29a2ff;
    background-size: cover;
}

.card {
    border: 1px solid #5a5959;
}
.card p{
    padding: 3%;
    color: aliceblue;
}

.card  h2{
     font-size: 3.5em;
   text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 5%;
}
/*-- gallery --*/
.gallery {
    background: #F7F7F7;
}
.w3agile_gallery_grids {
    margin: 3em 0 0;
}
.w3agile_gallery_grid {
    padding: 0;
}
.w3agile_gallery_grid figure {
    margin: 0;
    padding: 0;
    height: 270.5px;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.w3agile_gallery_grid figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}
.w3agile_gallery_grid figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
	top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.w3agile_gallery_grid figcaption h4 {
    color: #EEE048;
    padding: 0px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    margin-top: 37px;
    font-size: 30px;
    margin: 2em 0 1em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    text-align: center;
	text-transform:capitalize;
}
.w3agile_gallery_grid figcaption p {
    font-family: 'Open sans';
    line-height: 1.8em;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.w3agile_gallery_grid figure:hover h4,.w3agile_gallery_grid figure:hover p {
    left: 0;
}
/*-- //gallery --*/


@media (max-width:760px){
#myCarousel h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4e4d4d; 
    font-size: 2.5em;
    font-style: italic;
    padding: 5%;
}
}


.box {
  padding: 50px 30px;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.box.first {
  margin-top: -40px;
  border-radius: 5px 5px 0 0;
}
.box.last {
  border-radius: 0 0 5px 5px;
}
.box h2 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  font-size: 48px;
}
#portfolio .box {
  background: #f3f3f3;
}
.portfolio-items,
.portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-items {
  margin-right: -20px;
}
.portfolio-filter {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio-filter > li {
  display: inline-block;
}
.portfolio-items > li {
  float: left;

  margin: 0;
}
.portfolio-items.col-2 > li {
  width: 50%;
    
}
.portfolio-items.col-3 > li {
  width: 33%;
     
}
.portfolio-items.col-4 > li {
  width: 25%;
   
}
.portfolio-items.col-5 > li {
  width: 20%;
    
}
.portfolio-items.col-6 > li {
    
  width: 16%;
}
.portfolio-item .item-inner {
  margin: 0 20px 20px 0;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.portfolio-item img {
  width: 100%;
}
.portfolio-item .portfolio-image {
  position: relative;
}
.portfolio-item h5 {
  margin: 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.fot {
    background-color: #444444;
}
.fot p{
    text-align: center;
    color: #fff;
    font-weight: 100;
}

/*----CONTACTUS----*/
.cont{
    background-color: #fff;
    height: auto;
}
.serve_content h2{
  text-align:center;	
    text-justify:kashida;
    font-size: 220%;
    padding-bottom: 2%;
    color: #4e4d4d;
    font-family: 'Open Sans', sans-serif;  
}
.contact-grids {
    padding-left: 10%;
}
.contact-grids ul{
    margin-top: 2em;
}
.contact-grids ul li {
    display: block;
    color: #5e5e5e;
     font-family: 'Open Sans', sans-serif;  
    font-size: 1.1em;
    margin-top: 1.1em;
}
.contact-grids ul li a {
	color:#5e5e5e;
   font-family: 'Open Sans', sans-serif;  
	font-size: 1em;
}
.contact-grids ul li a:hover{
	color:#FFFF01;
}
.contact-grids span.glyphicon {
    font-size: 1em;
    margin-right: 0.5em;
}
.contact-grids iframe {
    border: none;
    width: 100%;
    height: 300px;
}
.contact-grids input[type="text"] {
    border: none;
	border-radius: 1px;
    width: 100%;
    margin: 0 0 1em 0;
    outline: none;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    -webkit-appearance: none;
    background-color:#c6ff94 /*rgba(255, 255, 255, 0.7)*/;
}
.contact-grids textarea {
    border: none;
	border-radius: 1px;
    outline: none;
    font-size: 1em;
     font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    width: 100%;
    resize: none;
    height: 13em;
    -webkit-appearance: none;
	background-color:#c6ff94 ;
}

.contact-grids input[type="submit"] {
    border: 1px solid #327b91;
	border-radius: 3px;
    padding: .3em 0;
    width: 30%;
    margin-top: 0.6em;
    font-size: 1em;
     font-family: 'Open Sans', sans-serif;  
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background-color: #87d146;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
}
.contact-grids input[type="submit"]:hover {
    /*border: 1px solid rgb(22, 29, 233);
    color: rgb(22, 29, 233);*/
    background-color: #5dac18;
}
.serve_content{
    margin: auto 0;
    font-size: 140%;
    color:#5e5e5e;
}
#sf {
    display: block;
    margin-top: 4%;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-md-6 {
    margin: 0;
    padding: 15px;
}
#sf .dg {
    background-color: #5dac18;
}
.dg p{
   color: #fff;
    text-align: center;
    font-size: 1.1em;
}

.team_profile {
    background-color: #29a2ff;
    position: relative;
    padding: 5%;
    margin-top:30%;
}

.team_profile img{
   margin-top: -35%;
    border: 10px solid #fff;
   
}

.team_profile p{
    color: #d2d1d1;
   margin-top: -12% !important;
}
.tit{
    font-size: 1.6em;
    font-weight: 600;
    color:#fff;
     text-align: center;
  
    
}
.tit2{
    font-size: 1.4em;
    font-style: italic;
    font-weight: 600;
    color:#fff;
 
}