*{
    box-sizing: border-box;
}
body{
 margin:0;
font-family: 'Open Sans', sans-serif; 
font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
    top: 60;
    line-height: 1.5;
    color: #474747;
    word-wrap: break-word;
}

.navbar {
    padding: 1.5%;
}

/******VID BACKGROUND********/

#home_container {
    background: url("../images/homebanner.png") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : 100vh;
     width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
}

.home_container h1{
    text-align: center!important;
    
}

/*.header-content h1 {
    font-size: 440%;
    letter-spacing: 0.1em;
    font-weight :lighter;
    padding-bottom:0.1rem;
    color: #fff;
    float: center !important;
    text-align: center!important;
}
*/

#home_container h1 {
    text-align: center!important;
    font-size: 440%;
    letter-spacing: 0.1em;
    font-weight :lighter;
    margin-top:-10%!important;
    padding:0.1rem;
    float: center !important;
    color: #fff;
}

 .mission_statement2 {
        margin-top: 0%;
    }

.mission_statement {
    background-color: #dbdbdb;
    padding: 5%;
    margin-top: -45%;
}

.mission_statement h3 {
    text-align: center;
     font-size : 310%;
    font-weight: bolder;
    letter-spacing: 3px;
    color: #1b96c2;
}

.mission_statement p{
    text-align: center;
    letter-spacing: 2px;
    font-size: 105%;
}

.mission_container {
     background: url("../images/work2.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding : 6% 2%;
    margin-top:2%;
}

/*#mission span{
    background: rgba (255, 255, 255, 0.5);
     padding : 1% 2%;
    color : #fff!important;
    text-decoration: none;
} */

.mission  {
    padding : 10% 10%;
    background-color: #000;
    text-align: justify;
    color : #fff!important;
    text-decoration: none;
    filter: alpha(opacity=90);
    -moz-opacity: .90;
    opacity: .90;
}

.mission img {
    padding-bottom: 5%;
}

.mission h3 {
    font-size : 310%;
    font-weight: bolder;
    color: #1b96c2;
}

.mission  p{
    font-size: 110%;
    letter-spacing: 1px;
}

.fullscreen-video-wrap {
    position :absolute;
   
   
}

.header-content {
    z-index: 2;
}



.header-content p{
    font-size: 1.5rem;
     letter-spacing: 0.1em;
    display : block;
    padding-bottom:0.1rem;
}


.clients {
    background-color: #464646;
    padding: 3%;
}

.clients span {
    border-bottom: #40beeb 3px solid;
}

.clients h3 {
     color : #40beeb;
    font-size: 200%;
    letter-spacing: 4px;
    font-weight : bolder;  
    text-align: center;
}

.clients h4 {
     color : #eaeaea;
    font-size: 170%;
    letter-spacing: 4px;
    font-weight : 500;  
    text-align: center;
}


.client_gap {
    padding-top : 4%;
}
/******ABOUT US PAGE********/

#about_container {
    background: url("../images/aboutbanner.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed;
    height : 65vh;
     width: 100%;
    display: flex;
    align-items: center;  
}

#about_container h2 {
    text-align: center;
    font-size: 350%;
    letter-spacing: 0.1em;
    font-weight :lighter;
    padding:0.1rem;
    color: #fff;
}

.about_content  h3{
   color:#1b96c2;
    letter-spacing: 0.19rem;
    font-size: 300%;
}

.about_content {
    padding:2%;
}

span img {
    width: 60%;
    padding-top : 3%;
    padding-bottom : 3%;
}

.team_container {
  background-color: #4b4b4b;
  padding: 15% auto;   
  color: #fff; 
  letter-spacing: 0.2rem;
}

.team_container h3 {
  color: #fff;  
}

.name {
    font-size: 1.2em;
    padding-top:3%;
}

.position {
    margin-top: -5%;
  font-size: 1.1em;  
    font-style: italic;
}

.team {
    padding:3%;
}

.team img {
    padding: 1% ;  
    border: #fff solid 1px;
}

/******END US PAGE********/


/******SERVICES PAGE********/

#service_container {
    background: url("../images/servicebanner.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed;
    height : 65vh;
     width: 100%;
    display: flex;
    align-items: center;  
}

#service_container h2 {
    text-align: center;
    font-size: 350%;
    letter-spacing: 0.1em;
    font-weight :lighter;
    padding:0.1rem;
    color: #fff;
}

.service_content h2 {
     color:#1b96c2;
    margin-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    letter-spacing: 0.19rem;
    font-size: 250%;
}

.service_content p {
    padding: 5% 20% 1% 20%;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #676666!important;
}

.card-title {
    color:#1b96c2;
}

.card-body h3 {
    padding-top: 3%;
}

.work_container {
     background: url("../images/work.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding : 12% 5%;
    margin-top:2%;
}

.work_container h3 {
    color : #40beeb;
    font-size: 300%;
    letter-spacing: 4px!important;
    font-weight : bolder!important;
}
.work_container  p{
    color:#fff;
    font-size:150%;
    text-align: center;
    font-weight: 300;
}

.my_button {
    margin-top :7px;
}

.my_button span a{
    padding : 1% 2%;
    background-color :#40beeb;  
    color : #fff!important;
    text-decoration: none;
}

.my_button span a:hover {
     background-color :#1b96c2; 
    
}

/******END OF SERVICES PAGE********/


/******CONTACT US PAGE********/
#contact_container {
    background: url("../images/contactbanner.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed;
    height : 65vh;
     width: 100%;
    display: flex;
    align-items: center;  
}

#contact_container h2 {
    text-align: center;
    font-size: 350%;
    letter-spacing: 0.1em;
    font-weight :lighter;
    padding:0.1rem;
    color: #fff;
}

.contact_details  {
    padding: 5% 1% 5% 1%;
}

.contact_details h3 {
     color : #40beeb;
    font-size: 230%;
    letter-spacing: 4px;
    font-weight : bolder;  
    text-align: center;
}

.contact_details p {
     color : #322d2d;
    font-size: 120%;
    letter-spacing: 2px;
    font-weight : 400;  
    text-align: center;
}

.left_border {
    border-right: #909090 1px solid;
}
.write_to h4 {
    text-align: center;
    font-size: 250%;
    letter-spacing: 4px;
    font-weight: 400;
    color: #40beeb;
    padding : 2% 0%;
    
}

.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #ababab 1px;
    padding: 3px 10px;
}

.send input[type="submit"] {
    border: 1px solid #327b91;
	border-radius: 3px;
    text-align: center;
    padding: .3em ;
    width: 30%;
    margin-top: 0.6em;
    font-size: 1em;
     font-family: 'Open Sans', sans-serif;  
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background-color: #40beeb  ;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
}
.send input[type="submit"]:hover {
    background-color: #120842;
}


/******END OF CONTACT PAGE********/

footer {
    background-color:  #333333;
    color:  #fff;
    border-top: #fff 1px solid;
    text-align: center!important;  
}

footer p{
  
padding-top: 1%;    
letter-spacing: 0.2rem;
}

@media(max-width:850px){
    
    #about_container
    {
        background-attachment: scroll;
    }
    
     #service_container
    {
        background-attachment: scroll;
    }
    
     #gallery_container
    {
        background-attachment: scroll;
    }
    
     #contact_container
    {
        background-attachment: scroll;
    }
    
    #home_container h1 {
        margin-top:-10%!important;}
    
    .mission_statement2 {
        margin-top: -10%;
    }
    
    .mission_statement {
        margin-top: 1%;
        padding:2%;
    }
    
}


@media(max-width:768px){
    #about_container
    {
        background-attachment: scroll;
    }
    
     #service_container
    {
        background-attachment: scroll;
    }
    
     #gallery_container
    {
        background-attachment: scroll;
    }
    
     #contact_container
    {
        background-attachment: scroll;
    }
    
    #home_container h1 {
        margin-top:-20%!important;}
    
    .mission_statement2 {
        margin-top: -20%;
    }
    
    .mission_statement {
        margin-top: 1%;
        padding:2%;
    }
    
     .mission  {
    padding : 5% 5%;
    background-color: #000;
    text-align:left;
    color : #fff!important;
    text-decoration: none;
    filter: alpha(opacity=90);
    -moz-opacity: .90;
    opacity: .90;
}
    
    .client_gap {
    padding-top : 1%;
}
    
    .left_border {
        border : none;
    }
    
    
    
    .service_content p {
    padding: 5% 5% 1% 5%;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 400;
    color: #676666!important;
}

}

@media(max-width:500px) {
    
    #home_container h1 {
    text-align: center!important;
    font-size: 200%;
    letter-spacing: 6px;
    font-weight :bold;
    margin-top:-10%!important;
    padding:0.1rem;
    float: center !important;
    color: #fff;
}
    
     #home_container h1 {
        margin-top:-30%!important;
    }
    
    .mission_statement2 {
        margin-top: -35%;
    }
    
    .mission_container {
     background: url("../images/work2.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding : 2% 0%;
    margin-top:2%;
}
    
    .mission  {
    padding : 5% 5%;
    background-color: #000;
    text-align:left;
    color : #fff!important;
    text-decoration: none;
    filter: alpha(opacity=90);
    -moz-opacity: .90;
    opacity: .90;
}

    .service_content {
        margin-top: -25%;
    }
    
}


