@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html,body {
  height:100%;
  margin:0;
  padding:0;
    top:50px!important;
}

body{
    top:50px!important;
 margin:0;padding:0;
  height: 100%;
font-family: 'Open Sans', sans-serif; ;
}
.navbar {
    background-color: rgb(18,8,66,0.6)!important;
    opacity: 0.9;
    color:#120842;
    border-bottom : #04ed04 2px solid;
    margin-bottom: 2%;
   padding: 10px 50px; 
}

.navbar a {
    color:#fff!important;
    float: right;
    text-align: left;
    
}

.navbar .navbar-nav > .active > a{
    border-bottom: #04ed04 2px solid;  
}

.navbar .dropdown-menu {
    background-color: #fff !important;
}

.main_container {
 background: url("../img/main_background.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : auto;
} 

svg {
  /*position: absolute;*/
  font: 7em 'Open Sans', sans-serif;
  letter-spacing: 0.15em;
    padding: 0 3%;
    font-weight: bold;
  width: 100%;
  height: 100%;
  margin-top: 15%;
}

svg text {
  fill: #04ed04;
  stroke: #04ed04;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 5s ease-out;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
    align-content: center;
}

.carousel-caption {
       
    
}
.board {
    color:#04ed04;
    text-align: center;
    padding-top: 25%;
    letter-spacing: 15px;
    font-size: 4.5em;
    font-weight: bolder;
    
}

.about_con {
background: url(../img/about_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :100vh;
}
.agileinfo-dot{
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0;
      height:100vh;
}


.service_con {
background: url(../img/service_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :100vh;
}

.project_con {
background: url(../img/project_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :100vh;
}

.contact_con {
background: url(../img/contact_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :100vh;
}


.mission {
    padding: 3% 0;
}

.mission h1{
    color: #120842 ;
    padding-top: 7%;
    font-size: 3.3em;
    letter-spacing: 5px;
    font-weight:bolder;
    text-align: center;
}

.mission h5{
    color: #120842 ;
    padding-top: 7%;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: justify;
}

.mission h3{
    color: #120842 ;
    padding-top: 7%;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: justify;
}

.why {
    background-color: #120842;
    padding: 5% 1%;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}
.why h1{
    font-weight:200;
}

.why h4 {
    font-weight: lighter;
}
.why span {
    color:#04ed04;
    font-weight: bold;
}

.card {
    color: #120842;
    text-align: justify;
    margin:3%;
}

.card-body {
    padding: 2% 4%;
}

footer {
     background-color: #06021b; 
     color: #fff;
    padding : 9px 3px 0px 3px;
    font-weight: 200;
    letter-spacing: 2px;
}


.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.carousel-control-prev{
    top: -30% !important;
}
.carousel-control-next{
    top: -30% !important;
}



/****new****/

body, html {
    height: 100%;
}


/*******CONTACT-FORM******/


.contact-grids input[type="text"] {
    border: #393939 solid 1px;
	border-radius: 5px;
    width: 100%;
    margin: 0 0 1em 0;
    outline: none;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    opacity : 0.8;
    -webkit-appearance: none;
   /* background-color:#98d2ff /*rgba(255, 255, 255, 0.7)*/;
}
.contact-grids textarea {
    border: none;
	border-radius: 1px;
    outline: none;
    font-size: 1em;
     font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    width: 100%;
    resize: none;
    height: 13em;
    -webkit-appearance: none;
	background-color: ;
}

.contact-grids input[type="submit"] {
    border: 1px solid #327b91;
	border-radius: 3px;
    float: center;
    padding: .3em 0;
    width: 30%;
    margin-top: 0.6em;
    font-size: 1em;
     font-family: 'Open Sans', sans-serif;  
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    background-color: #120842;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -webkit-appearance: none;
}
.contact-grids input[type="submit"]:hover {
    /*border: 1px solid rgb(22, 29, 233);
    color: rgb(22, 29, 233);*/
    background-color: #04ed04;
}




.contact-info [type="text"],.contact-info textarea {
    border: #393939 solid 1px;
	border-radius: 5px;
    width: 100%;
    margin: 0 0 1em 0;
    outline: none;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;  
    color: #5e5e5e;
    padding: 5px 12px;
    opacity : 0.8;
    -webkit-appearance: none;
}
.contact-info textarea {
	min-height: 130px;
    resize: none;
}

.contact_det p {
  font-size: 1.4em;
    font-weight: 100;
}

@media only screen and (max-width:1066px) {
    
    .agileinfo-dot{
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0;
      height:50vh;
}

.about_con {
background: url(../img/about_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}

.service_con {
background: url(../img/service_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}

.project_con {
background: url(../img/project_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}
    
    .contact_con {
background: url(../img/contact_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}
}


@media only screen and (max-width:850px) {
        
.about_con {
background: url(../img/about_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :auto;
}
.agileinfo-dot{
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0;
      height:auto;
}

.service_con {
background: url(../img/service_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :auto;
}

.project_con {
background: url(../img/project_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :auto;
}
    
    .contact_con {
background: url(../img/contact_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :auto;
}
    
}


@media only screen and (max-width:440px){

    
     .navbar-toggle {
        display: none;
    }

    .navbar-header button {
        display: block;
    }
    
      
  .board {
    color:#04ed04;
    letter-spacing: 3px;
    padding-top: 50%;  
    font-size:2.2em;
    font-weight: bolder;
}  

    
.about_con {
background: url(../img/about_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}
.agileinfo-dot{
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0;
      height:50vh;
}

    
.service_con {
background: url(../img/service_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}

.project_con {
background: url(../img/project_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}
    
    .contact_con {
background: url(../img/contact_phone.jpg)center center no-repeat ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size: cover;
    height :50vh;
}
    
}

/********Gallery********/

/*-- Gallery --*/
.our-gallery img {
    padding : 2%;
}

section.our-gallery {
	text-align: center;
	padding:15px 0;
}
section.our-gallery  h3.text-center{
	padding:0px 0 50px;
}
section.our-gallery img.img-responsive {
	width: 200px;
    border-radius: 0px;
    margin-bottom: 5px;
	opacity:0.89;
	display: inline;
}
section.our-gallery img.img-responsive:hover {
	opacity:1;
}
section.our-gallery p {
	font-size: 17px;
    font-weight: 500;
    line-height: 27px;
	padding:0 0 50px;	
}
/*-- /Gallery --*/
/******EndOfGallery*******/


