@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap');
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    font-size:100%;
    padding:0;
    margin:0;
     height: 100%;
} 




.text-center {
    text-align: center;
}

.my-service {
   background:url(../images/service.jpg) no-repeat center top;
  background-size: cover;
    padding:7% 0;
    text-align: center;
    color:#fff;
}

.my-service h2 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 600;
    font-size: 55px;
    letter-spacing: 7px;
    text-align: center;
}


.my-service button {
    border:none;
    padding: 7px 25px;
    color:#fff;
    background: #fff;
    border-radius: 25px;
    margin-top: 50px;
}

.my-service button a {
  color:#484848;  
}

/*****HOME SECTION******/


.home_container{
   background-color: #515151;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:100vh;
    width:auto;
    padding-top:20%;
    padding-bottom:3%;
    text-align: left;
}



footer {
    background-color: #02040C;
    color: #fff;
    text-align: center;
    padding-top:1%;
    letter-spacing: 2px;
} 

.footer-img img {
    height:75px;
    width:auto;
}


.home-banner {
    min-height: 100vh;
}

#left-side {
    min-height: 100vh;
  background-size: cover;
  background:url(../images/left-side.jpg) repeat center top;
  padding:20% 0; 
  z-index: 1;     
}


#right-side {
  
  background:url(../images/right-side.jpg) repeat center top;
  padding:20% 0;  
 min-height: 100vh;
   background-size: cover;
  align-items: center;
  z-index: 1;       
}

#right-side h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 7px;
    text-align: center;
}

#left-side h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 7px;
    text-align: center;
}


.home-banner button {
    background-color: #fff;
    padding: 7px 18px;
    border-radius: 25px;
    border:none;
    text-align: center;
    margin:10px auto;
}

.home-banner button a {
    color:#484848; 
}

.home-banner button:hover{

box-shadow: 0 3px 6px rgba(255,255,255,0.4);  

}



@media(max-width:1366px) {
 #left-side {
  min-height:100vh;
  background:url(../images/left-side.jpg) no-repeat center top;
     background-size: cover;
   padding:30% 4% 15% 4%;  
  z-index: 1;  
}


#right-side {
  min-height:100vh;
  background:url(../images/right-side.jpg) no-repeat center top;
    background-size: cover;    
  padding:30% 4% 15% 4%;  
  align-items: center;
  z-index: 1;       
}
    
    
     
}




@media(max-width:1024px) {
 #left-side {
  min-height:50vh;
  background:url(../images/left-side.jpg) no-repeat center top;
     background-size: cover;
  padding:35% 4%; 
  z-index: 1;  
}


#right-side {
  min-height:50vh;
  background:url(../images/right-side.jpg) no-repeat center top;
    background-size: cover;    
  padding:35% 4%;  
  align-items: center;
  z-index: 1;       
}
    
    
     
}





@media(max-width:720px) {
 #left-side {
  height:100%;
  background:url(../images/left-side.jpg) repeat center top;
  padding:30% 0; 
  z-index: 1;     
}


#right-side {
  height:100%;
  background:url(../images/right-side.jpg) repeat center top;
  padding:30% 0;  
  align-items: center;
  z-index: 1;       
}
    
#right-side h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
}

#left-side h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
}  
    
.my-service {
   background:url(../images/service.jpg) no-repeat center top;
  background-size: cover;
    padding:20% 0;
    text-align: center;
    color:#fff;
}

.my-service h2 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
}
    
 .my-service button {
    border:none;
    padding: 7px 25px;
    color:#fff;
    background: #fff;
    border-radius: 25px;
    margin-top: 15px;
}   
    
     
}



@media(max-width:450px) {
 #left-side {
  height:100%;
  background:url(../images/left-side.jpg) repeat center top;
  padding:40% 5%; 
  z-index: 1;     
}


#right-side {
  height:100%;
  background:url(../images/right-side.jpg) repeat center top;
  padding:40% 5%;  
  align-items: center;
  z-index: 1;       
}
    
#right-side h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
}

#left-side h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;
}    
     
}

/******ABOUT PAGE*****/

.about-container {
    background:url(../images/about.jpg) no-repeat center top;
    background-size: cover;
    color:#fff;
    padding: 3% 0;
} 


.about-container h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 7px;
    text-align: center;  
}

.about-content p{
    color:#515151;
    text-align: justify;
    padding-top:15%;
}


.about-content {
    padding: 5% 0;
}


@media(max-width:720px) { 
    
 .about-container {
    background:url(../images/about.jpg) no-repeat center top;
    background-size: cover;
    color:#fff;
    padding: 25% 0;
} 
   
    

.about-container h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;  
}
    
    .about-content p{
    color:#515151;
    text-align: justify;
    padding-top:10%;
}



}
/******MODELING PAGE*****/

.model-container {
    background:url(../images/model-background.jpg) no-repeat center top;
    background-size: cover;
    color:#fff;
    padding: 5% 0;
} 


.model-container h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 7px;
    text-align: center;  
}


.model-container h3{
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 7px;
    text-align: center;  
}




.modeling-card {
     background: rgba(255,255,255,1);
     border-radius:10px;
     padding:5%;
     box-shadow: 0 3px 6px rgba(0,0,0,0.2); 
    height: auto;
    color:#FF9900;
    text-align: center;
    margin: 12% auto;
}

.carousel-item img {
    border-radius: 5px;
}


.modeling-card h3 {
  color:#595959!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;    
}


.modeling-card p {
  color:#595959!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight:300;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: justify;
    padding-top: 3%;
    line-height: 1.8em;
}


@media(max-width:720px)  {
    
    .model-container {
    background:url(../images/model-background.jpg) no-repeat center top;
    background-size: cover;
    color:#fff;
    padding: 15% 0;
} 
    
    
    .model-container h1 {
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;  
}


.model-container h3{
   color:#fff!important;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;  
}

}

/*.carousel-item2 {
  
    width:451px;
    height:100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


/******CONTACT PAGE*****/



.contact-inner-left {
    background-color: #F43B3B;
    padding:3% 6%;
    color:#fff;
    border-radius: 5px;
    margin-right: -30%;
    margin-left: 15%;
    z-index: 10;
    margin-top: 4%;
}

.contact-title {
    padding: 5% 10% ;
     background-color: #fff;
    min-height: auto;
}

.contact-title h2 {
    color:#F43B3B;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 7px;
    text-align:left;
    margin-top: 5%;
}


#contact-right {
  min-height:100vh;
  background:url(../images/contact-right.jpg) no-repeat center top;
  padding:20% 5%;  
  align-items: center;
  z-index: -1;       
}

.contact-title ul li img {
  width: 35px;
    height: auto;
   padding: 5px;
    
}


.contact-title ul {
    display: inline-block;
   
  
}


.contact-title ul li {
    display: inline-block;
    margin: 0 auto;
    
     margin-top: 20%;
   
}


input[type=text] {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #ffff;
    color: #fff;
    padding: 1px;
}


input[type=submit] {
     background: rgba(255,255,255,1);
    margin-top:1%;
    border: none;
    border-radius: 35px;
    color: #000;
    padding:8px 38px;
    float: right;
}


input[type=submit]:hover {
    box-shadow: 0 3px 6px rgba(255,255,255,0.2);  
}


textarea[type=text] {
    background: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #ffff;
    color: #fff;
    padding: 1px;
}


.form-control::-webkit-input-placeholder {
  color: #fff;
    opacity: 0.6;
}


.my-form input:focus {
  outline: none;
   background-color: #F43B3B;   
   color: #fff;
    border: none;
    
}

.my-form textarea:focus {
  outline: none;
   background-color: #F43B3B;   
   color: #fff;
    border: none;
    
}

.my-form input:focus ~ label, .my-form input:valid ~ label {
  font-size: 14px;
  color:#fff;
    text-align: left; 
}

.my-form textarea:focus ~ label, .my-form textarea:valid ~ label {
  font-size: 14px;
  color:#fff;
    text-align: left;
   
}

.form-group {
    padding-top: 3%;
}



@media(max-width:1366px) {
    
    .contact-title h2 {
    color:#F43B3B;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 7px;
    text-align:left;
    margin-top: 30%;
}
}


@media(max-width:1024px) {
    
 .contact-inner-left {
    background-color:transparent;
    padding:3% 6%;
    color:#fff;
    border-radius: 5px;
    margin-right:auto;
    margin-left:auto;
    z-index: 10;
    margin-top: 4%;
}
    
    
    .contact-title {
      background:url(../images/contact-right2.jpg) no-repeat center top;  
        min-height: 100vh;
        background-size: cover;
    } 
    
   .contact-title h2 {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 7px;
    text-align:center;
    margin-top: 20%;
} 
    
    
 .my-form input:focus {
  outline: none;
   background-color: transparent;   
   color: #fff;
    border: none;
    
}

.my-form textarea:focus {
  outline: none;
   background-color:transparent;   
   color: #fff;
    border: none;
    
}  
    
input[type=submit] {
     background: rgba(255,255,255,1);
    margin-top:1%;
    border: none;
    border-radius: 35px;
    color: #000;
    padding:8px 38px;
    float: right;
    
}    
   
    
.contact-title ul {
    display: inline-block;
   
  
}


.contact-title ul li {
    display: inline-block;
    margin: 0 auto;
    
     margin-top: 45%;
   
}
    
    
}



@media(max-width:720px) {
    
    
    
    .contact-inner-left {
    background-color:transparent;
    padding:1%;
    color:#fff;
    border-radius: 5px;
    margin-right:auto;
    margin-left:auto;
    z-index: 10;
    margin-top: 4%;
} 
    
    
  .contact-title h2 {
    color:#fff;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 7px;
    text-align:center;
    margin-top: 35%;
}    
    
    
    
.contact-title ul li {
  
   padding: 2px 10px;
}
       
  
 .contact-title ul {
    display: inline-block;
   margin: 0 auto;
    text-align: center;   
}


.contact-title ul li {
    display: inline-block;
    margin: 10% auto 0 auto;
    text-align: center;
}   
    
    
.contact-title ul li img {
  width: 28px;
    height: auto;
   padding: 0px;
}
    
    
  .contact-inner-left {
    background-color:transparent;
    padding:1%;
    color:#fff;
    border-radius: 5px;
    margin-right:auto;
    margin-left:auto;
    z-index: 10;
    margin-top: 4%;
}
    
input[type=submit] {
     background: rgba(255,255,255,1);
    margin-top:1%;
    border: none;
    border-radius: 35px;
    color: #000;
    padding:8px 38px;
    float: none;
    
}    
      
      
    
} 


@media(max-width:320px) {
   
    .contact-title ul li img {
  width: 20px;
    height: auto;
   padding: 0px;
}
    
}



















