@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700,800,900&display=swap');

@font-face {
    font-family:Mont-Black;
    src: url(../fonts/Mont-Black.otf);
}
@font-face {
    font-family:Mont-Bold;
    src: url(../fonts/Mont-Bold.otf);
}
@font-face {
    font-family:Mont-Book;
    src: url(../fonts/Mont-Book.otf);
}



*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}


body,html{
    font-size:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
    
  -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
     -o-font-smoothing:antialiased;
    
    
    
} 




.text-center {
    text-align: center;
}
.my-nav {
  background: #fff;
  border-radius: 10px; 
    z-index: 1000;
      width: 95%;
    margin: 0 auto;
}

.my-nav img {
    height: 40px;
    width: auto;
}

.navbar {
    transition: all 0.4s;
}


.navbar .nav-link {
     color: #555;
    font-size:14px;
  font-weight: 400;
font-family: 'Mont-Book', sans-serif;      
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
     color: #555;
    text-decoration: none;
    font-size:14px;
  font-weight: 400;
 font-family: 'Mont-Book', sans-serif;   
}

.navbar .navbar-brand {
     color: #555;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #2b2b2b;
    }
}

/*****HOME SECTION******/

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#2b2b2b;
 min-height: 550px;    
}

.container2{
  max-width:860px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
    min-height: 550px;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  min-height: 550px;    
  position: absolute;
  top:0;
  left:0;
  width:95vw;
  z-index:100;
  /*background:#2e8eff;*/
  background:#1b2333;
  opacity:0.9;
}

.header-content{
  z-index:2;
    margin: 0 auto;
}

.header-content h1{
   color:#fff;    
  font-size:80px;
 letter-spacing: 5px;
 font-family: 'Mont-Black', sans-serif;   
  margin-bottom:0;
    margin-top: 10px;
}

.header-content span {
    padding: 0 20px;
}

.header-content h4{
   color:#fff;    
  font-size:40px;
  font-weight: 700;
 margin-top: 10px;
    letter-spacing: 3px;
   font-family: 'Mont-Bold', sans-serif;
}

.header-content h5{
   color:#fff;    
  font-size:30px;
  font-weight: 700;
 margin-top: 0px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}




.main-wrapper {
    background: #171f2f;
    padding: 0px 0px;
}


.my-button  button {
    background :#FEBD11;
    border :none;
    border-radius:5px;
    padding: 7px 35px;
    transition: 0.5s;
    margin:8px;
}

.my-button  button:hover {
    color:#fff;
    font-family: 'Mont-Book', sans-serif; 
    text-decoration: none;
    background : #e2a80f;
}

.my-button  button a {
    color:#fff;
    font-family: 'Mont-Book', sans-serif; 
    font-size:14px;
}

.my-button  button a:hover {
    color:#fff;
    font-family: 'Mont-Book', sans-serif; 
    text-decoration: none;
    
}




.project-tab {
    padding: 1%;
    margin-top: 0%;
    font-family: 'Mont-Book', sans-serif;   
}
.project-tab p{
   font-family: 'Mont-Book', sans-serif;
    color:#ffff;
    margin-top: 15px;
}

.project-tab img {
    border-radius: 5px;
}


.project-tab #tabs h6.section-title{
    color: #fff;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FEBD11;
   font-family: 'Mont-Bold', sans-serif;  
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.project-tab .nav-link {
    font-family: 'Mont-Book', sans-serif;    
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #c1900d;
    font-size: 28px;
    font-weight: 600;
     letter-spacing: 2px;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #fff;
}
.project-tab a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}


.target-audience {
    margin: 50px auto 0px auto;
}

.target-audience  h4 {
    font-family: 'Mont-Bold', sans-serif;  
    font-size: 25px;
    color:#ffff;
    letter-spacing: 1px;
    text-align: left;
}

.target-audience  p {
    font-family: 'Mont-Book', sans-serif;  
    font-size: 14px;
    color:#ffff;
    line-height: 1.8em;
    letter-spacing: 0px;
     text-align: left;
}

.home-services {
    margin-top: 25px;
}


.home-services h2 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 40px;
    color:#ffff;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.home-services h2 span {
  padding-bottom: 5px;
 border-bottom: #FEBD11 5px solid;    
}


.home-services h3 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 30px;
    color:#ffff;
    letter-spacing: 3px;
    text-align:left;
    margin-top:80px;
}

.home-services p {
     font-family: 'Mont-Book', sans-serif;  
    font-size: 16px;
    color:#ffff;
    letter-spacing: 1px;
    text-align: left;
    margin-top:20px;
}


@media(max-width:1366px) {
  .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 550px;
  z-index:1;
 background: #1b2333;
  opacity:0.90;
}  
}


@media(max-width:1024px){
 
     .container2{
    padding-right:auto;
    padding-left:auto;
         padding-top:0px;
         margin:0 auto;
  }
    
    .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 550px;
  z-index:1;
 background: #1b2333;
  opacity:0.90;
}
   

.header-content h1{
     color:#ffff; 
    font-size:60px;
     font-family: 'Mont-Black', sans-serif;   
  margin-bottom:0;
    letter-spacing: 2px;
}
}


@media(max-width:720px){
 
    
 .navbar img{
    height: 40px;
    width : auto;
}
    
    
    .header-content h1{
   color:#ffff;    
  font-size:55px;
 font-family: 'Mont-Bold', sans-serif;     
  margin-bottom:0;
 letter-spacing: 4px;
}

.header-content h4{
   color:#fff;    
  font-size:35px;
  font-weight: 700;
 margin-top: 10px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}

.header-content h5{
   color:#fff;    
  font-size:20px;
  font-weight: 700;
 margin-top:0px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}

    
    .header-content span {
    padding: 0 5px;
}
    
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FEBD11;
   font-family: 'Mont-Bold', sans-serif;  
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.project-tab .nav-link {
    font-family: 'Mont-Book', sans-serif;    
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #c1900d;
    font-size: 18px;
    font-weight: 600;
     letter-spacing: 2px;
}
    
    .home-services {
    margin-top:10px;
}
    
    .home-services h2 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 40px;
    color:#ffff;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
}

    
 .home-services h3 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 25px;
    color:#ffff;
    letter-spacing: 1px;
    text-align:left;
    margin-top:40px;
} 
    
}


@media(max-width:320px) {
     
    
     .navbar img{
    height: 40px;
    width : auto;
}
    
    .header-content h1{
   color:#ffff;    
  font-size:30px;
  font-family: 'Mont-Bold', sans-serif;    
  margin-bottom:0;
    margin-top: 5px;    
} 
    
     .header-content span {
    padding: 0 2px;
}

.header-content h4{
   color:#fff;    
  font-size:20px;
 margin-top: 10px;
    letter-spacing: 3px;
   font-family: 'Mont-Book', sans-serif;
}

.header-content h5{
   color:#fff;    
  font-size:18px;
 margin-top:0px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}
    
  
    
    
    
}




/*****CONTACT SECTION******/


.contact-header{
        background:url(../img/contact-bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        background-attachment: fixed;
        width:100%;
        height:auto;
        padding-top:250px;
         padding-bottom:150px;
    }




.contact-header h1 { 
    letter-spacing:3px;
    font-size: 75px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;  
} 


.contact-content h3{
  letter-spacing:0px;
    font-size: 25px;
    font-weight:800;
    color:#2e8eff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
    margin-top: 60px;
    margin-bottom: 40px;
    line-height: 1.2em;
}

.contact-content form {
    font-family: 'Montserrat', sans-serif;  
     color:#535353;
}

label {
   color:#535353;  
}

.contact-submit {
  background:#2e8eff;  
  color:#fff;
    border:none;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    transition: 0.5s;
}

.contact-submit:hover {
  background:#1d74db;  
  color:#fff;
    border:none;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
}


footer {
    background: #242429;
    padding: 95px 10px 80px 10px;
    color:#fff;
}

footer h3 {
  font-size: 26px;
  font-weight: 700; 
  color:#fff;
    letter-spacing: 2px;
    text-align: left;
  font-family: 'Montserrat', sans-serif;     
}

.footer-content {
    margin: 0 auto;
    text-align: center;
}

footer h5 {
  font-size: 18px;
  font-weight: 600; 
  color:#fff;
    text-align: left;
    margin-top: 25px;
    letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;     
}


footer img {
    width: 46px;
    height: auto;
    padding: 10px;
    border:#fff 2px solid;
    border-radius: 50px;
    margin-top: 7px;
}


footer h6 {
  font-size: 16px;
  font-weight: 500; 
  color:#fff;
    text-align: left;
    line-height: 2em;
    letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;     
}

.footer2 {
    background:#121214;
    padding: 20px 0 5px 0;
}

.footer2 p {
   font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    color:#fff;
    opacity: 0.6;
}


@media(max-width:720px) {
  
  .contact-header{
        background:url(../img/contact-bg2.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        width:100%;
        height:auto;
       background-attachment: scroll;
        padding-top:200px;
         padding-bottom:100px;
    }


.contact-header h1 {
    letter-spacing:3px;
    font-size: 55px;
    font-weight:800;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
    
} 
    
 .contact-content h3{
  letter-spacing:0px;
    font-size: 18px;
    font-weight:700;
    color:#2e8eff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align:left;
    margin-top: 40px;
     margin-bottom: 20px;
    line-height: 1.2em;
} 
    
footer {
    background: #242429;
    padding: 45px 10px 30px 10px;
    color:#fff;
}
    
    
    
    
 footer h5 {
  font-size: 16px;
  font-weight: 600; 
  color:#fff;
    text-align: left;
    margin-top: 20px;
    letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;     
}



footer h6 {
  font-size: 14px;
  font-weight: 500; 
  color:#fff;
    text-align: left;
    line-height: 1.8em;
    letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;     
}
   
 
    
 .footer2 {
    background:#121214;
    padding: 20px 0 5px 0;
}

.footer2 p {
   font-family: 'Montserrat', sans-serif; 
    font-size: 12px;
    color:#fff;
    opacity: 0.6;
}   
    
    
    
}