@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');
*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    font-size:100%;
    padding:0;
    margin:0;
} 



.navbar-custom {
    background: rgba(255,255,255,1);
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.7);*/
    top: 0 !important;
    
}

.navbar-custom .navbar-brand{
    color: black;
    padding: 0.8rem 1rem;
    
}
/* change the link color and add padding for height */ 
.navbar-custom .navbar-nav .nav-link {
    color: black;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 16px;
} 
/* change the color of active or hovered links */

.navbar-custom .nav-item:hover .nav-link {
    color: white;
    background-color:#f91a15; 
} 

.navbar img{
    height: 70px;
    width : auto;
} 

.log-in-button {
    padding: 1% 6%;
}

.btn-login {
    background: #bd1d46;
    color: white;
    border:none;
    width:100%;
    
    border-radius: 25px;
}

.text-center {
    text-align: center;
}
/*.log-in-button button{
    background: #bd1d46;
    color: white;
    padding: 2%;
    border-radius: 20px;
    border:none;
}*/

/*****HOME SECTION******/


.carousel-item2 {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.carousel-item2 h2 {
     letter-spacing:5px;
    font-size: 60px;
    font-weight:bold;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 4%;
}

.carousel-item2 p {
     letter-spacing:2px;
    font-size: 30px;
    font-weight:300;
    color: #ffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
      margin-bottom: 10%;
}



.carousel-button {
    background-color: #f91a15;
    padding:7px 25px 10px 25px;
    color: #fff;
    border-radius: 30px;
}

.carousel-button a {
    font-size: 14px;
    color: #fff;
}



@media(max-width:720px) {
    
  .carousel-item2 h2 {
     letter-spacing:5px;
    font-size: 35px;
    font-weight:600;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 4%;
}

.carousel-item2 p {
     letter-spacing:2px;
    font-size: 20px;
    font-weight:300;
    color: #ffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
      margin-bottom: 10%;
}
  
    
}


@media(max-width:320px){
  
     .carousel-item2 h2 {
     letter-spacing:5px;
    font-size: 25px;
    font-weight:600;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 4%;
}

.carousel-item2 p {
     letter-spacing:2px;
    font-size: 18px;
    font-weight:300;
    color: #ffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
      margin-bottom: 10%;
}
    
}


/*****ABOUT US SECTION******/

#about{
       background:url(../images/about-bg.jpg) repeat center top;
       background-attachment: fixed;
        width:100%;
        padding:6% 15%;
        text-align: center;
    }




#about h1 {
    letter-spacing:3px;
    font-size: 45px;
    font-weight:600;
    color: #FF4412;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 


#about p {
    text-align:center;
    line-height: 2em;
     font-size: 16px;
    text-align: right;
}

/*****OUR SERVICES SECTION******/
#service{
        background:url(../images/Service-Bg.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:auto;
        width:100%;
        padding:6% 0;
    }




#service h1 {
    letter-spacing:3px;
    font-size: 45px;
    font-weight:normal;
    color: #FF4412;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 


#service p {
    color:#282828;
    font-size: 14px;
}

.service-card {
    background: rgba(255,255,255,0.9);
    height:18em;
    width:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:7%;
}

.service-card h3 {
    letter-spacing:3px;
    font-size: 25px;
    font-weight:500;
    color: #FF4412;
    padding-bottom:1% ;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
    margin-bottom: 5%;
} 


.service-card h3 span{
    border-bottom: 2px solid #FF4412;
}

.service-card p {
    letter-spacing:1px;
    font-size: 14px;
    font-weight:300;
    color: #3A3A3A;
    opacity: 0.7;
    line-height: 1.8em;
    padding-bottom:1% ;
    font-family:'Montserrat', sans-serif;   
    text-align: left;
} 


/*****SUPPORT******/

#support {
        background:url(../images/support.jpg) repeat center top;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
        background-size:cover;
        height:auto;
        width:100%;
        padding:5% 0 5% 0;
        letter-spacing: 2px;
     
    }


#support  h2 {
    letter-spacing:3px;
    font-size: 45px;
    font-weight:normal;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 


.support-card {
    background: rgba(255,255,255,0.9);
    height:auto;
    width:auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);  
    padding:10%;
    border-radius:5px;
    text-align: center;
    margin-top: 5%;
} 


.support-card h4 {
    letter-spacing:3px;
    font-size: 25px;
    font-weight:600;
    color: #3A3A3A;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
}


.support-card h6 {
    letter-spacing:1px;
    font-size: 16px;
    font-weight:normal;
    color: #3A3A3A;
    line-height: 2em;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
}

/*****CONTACT SECTION******/


#contact {
        background :#484848;;
        height:auto;
        width:100%;
        padding:7% 0 5% 0;
        letter-spacing: 2px;
      color:#ffff;
    }


#contact h1 {
     letter-spacing:3px;
    font-size: 45px;
    font-weight:normal;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 

#contact h4 {
     letter-spacing:2px;
    font-size: 25px;
    font-weight:normal;
    color: #ffff;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 

#contact h6 {
     letter-spacing:1px;
    font-size: 18px;
    font-weight:300;
    color: #ffff;
    line-height: 1.8em;
    padding-bottom:1% ;
    font-family: 'Montserrat', sans-serif;   
    text-align: center;
} 



footer {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding-top:1%;
    letter-spacing: 2px;
} 

.footer-img img {
    height:75px;
    width:auto;
}
