@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700,800,900&display=swap');

@font-face {
    font-family:Mont-Black;
    src: url(../fonts/Mont-Black.otf);
}
@font-face {
    font-family:Mont-Bold;
    src: url(../fonts/Mont-Bold.otf);
}
@font-face {
    font-family:Mont-Book;
    src: url(../fonts/Mont-Book.otf);
}



*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}


body,html{
    font-size:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
    
  -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
     -o-font-smoothing:antialiased;
    
    
    
} 




.text-center {
    text-align: center;
}
.my-nav {
  background: #fff;
  border-radius: 10px; 
    z-index: 1000;
      width: 95%;
    margin: 0 auto;
}

.my-nav img {
    height: 40px;
    width: auto;
}

.navbar {
    transition: all 0.4s;
}


.navbar .nav-link {
     color: #555;
    font-size:14px;
  font-weight: 400;
font-family: 'Mont-Book', sans-serif;      
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
     color: #555;
    text-decoration: none;
    font-size:14px;
  font-weight: 400;
 font-family: 'Mont-Book', sans-serif;   
}

.navbar .navbar-brand {
     color: #555;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #2b2b2b;
    }
}

/*****HOME SECTION******/

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#2b2b2b;
 min-height: 550px;    
}

.container2{
  max-width:860px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
    min-height: 550px;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  min-height: 550px;    
  position: absolute;
  top:0;
  left:0;
  width:95vw;
  z-index:100;
  /*background:#2e8eff;*/
  background:#1b2333;
  opacity:0.9;
}

.header-content{
  z-index:2;
    margin: 0 auto;
}

.header-content h1{
   color:#fff;    
  font-size:80px;
 letter-spacing: 5px;
 font-family: 'Mont-Black', sans-serif;   
  margin-bottom:0;
    margin-top: 10px;
}

.header-content span {
    padding: 0 20px;
}

.header-content h4{
   color:#fff;    
  font-size:40px;
  font-weight: 700;
 margin-top: 10px;
    letter-spacing: 3px;
   font-family: 'Mont-Bold', sans-serif;
}

.header-content h5{
   color:#fff;    
  font-size:30px;
  font-weight: 700;
 margin-top: 0px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}




.main-wrapper {
    background: #171f2f;
    padding: 0px 0px;
}


.my-button  button {
    background :#FEBD11;
    border :none;
    border-radius:5px;
    padding: 7px 35px;
    transition: 0.5s;
    margin:8px;
}

.my-button  button:hover {
    color:#fff;
    font-family: 'Mont-Book', sans-serif; 
    text-decoration: none;
    background : #e2a80f;
}

.my-button  button a {
    color:#fff;
    font-family: 'Mont-Book', sans-serif; 
    font-size:14px;
}

.my-button  button a:hover {
    color:#fff;
    font-family: 'Mont-Book', sans-serif; 
    text-decoration: none;
    
}




.project-tab {
    padding: 1%;
    margin-top: 0%;
    font-family: 'Mont-Book', sans-serif;   
}
.project-tab p{
   font-family: 'Mont-Book', sans-serif;
    color:#ffff;
    margin-top: 15px;
}

.project-tab img {
    border-radius: 5px;
}


.project-tab #tabs h6.section-title{
    color: #fff;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FEBD11;
   font-family: 'Mont-Bold', sans-serif;  
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
.project-tab .nav-link {
    font-family: 'Mont-Book', sans-serif;    
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #c1900d;
    font-size: 28px;
    font-weight: 600;
     letter-spacing: 2px;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #fff;
}
.project-tab a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}


.target-audience {
    margin: 50px auto 0px auto;
}

.target-audience  h4 {
    font-family: 'Mont-Bold', sans-serif;  
    font-size: 25px;
    color:#ffff;
    letter-spacing: 1px;
    text-align: left;
}

.target-audience  p {
    font-family: 'Mont-Book', sans-serif;  
    font-size: 14px;
    color:#ffff;
    line-height: 1.8em;
    letter-spacing: 0px;
     text-align: left;
}

.home-services {
    margin-top: 25px;
}


.home-services h2 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 40px;
    color:#ffff;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.home-services h2 span {
  padding-bottom: 5px;
 border-bottom: #FEBD11 5px solid;    
}


.home-services h3 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 30px;
    color:#ffff;
    letter-spacing: 3px;
    text-align:left;
    margin-top:80px;
}

.home-services p {
     font-family: 'Mont-Book', sans-serif;  
    font-size: 16px;
    color:#ffff;
    letter-spacing: 1px;
    text-align: left;
    margin-top:20px;
}


@media(max-width:1366px) {
  .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 550px;
  z-index:1;
 background: #1b2333;
  opacity:0.90;
}  
}


@media(max-width:1024px){
 
     .container2{
    padding-right:auto;
    padding-left:auto;
         padding-top:0px;
         margin:0 auto;
  }
    
    .header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
min-height: 550px;
  z-index:1;
 background: #1b2333;
  opacity:0.90;
}
   

.header-content h1{
     color:#ffff; 
    font-size:60px;
     font-family: 'Mont-Black', sans-serif;   
  margin-bottom:0;
    letter-spacing: 2px;
}
}


@media(max-width:720px){
 
    
 .navbar img{
    height: 40px;
    width : auto;
}
    
    
    .header-content h1{
   color:#ffff;    
  font-size:55px;
 font-family: 'Mont-Bold', sans-serif;     
  margin-bottom:0;
 letter-spacing: 4px;
}

.header-content h4{
   color:#fff;    
  font-size:35px;
  font-weight: 700;
 margin-top: 10px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}

.header-content h5{
   color:#fff;    
  font-size:20px;
  font-weight: 700;
 margin-top:0px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}

    
    .header-content span {
    padding: 0 5px;
}
    
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FEBD11;
   font-family: 'Mont-Bold', sans-serif;  
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.project-tab .nav-link {
    font-family: 'Mont-Book', sans-serif;    
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #c1900d;
    font-size: 18px;
    font-weight: 600;
     letter-spacing: 2px;
}
    
    .home-services {
    margin-top:10px;
}
    
    .home-services h2 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 40px;
    color:#ffff;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
}

    
 .home-services h3 {
     font-family: 'Mont-Bold', sans-serif;  
    font-size: 25px;
    color:#ffff;
    letter-spacing: 1px;
    text-align:left;
    margin-top:40px;
} 
    
}


@media(max-width:320px) {
     
    
     .navbar img{
    height: 40px;
    width : auto;
}
    
    .header-content h1{
   color:#ffff;    
  font-size:30px;
  font-family: 'Mont-Bold', sans-serif;    
  margin-bottom:0;
    margin-top: 5px;    
} 
    
     .header-content span {
    padding: 0 2px;
}

.header-content h4{
   color:#fff;    
  font-size:20px;
 margin-top: 10px;
    letter-spacing: 3px;
   font-family: 'Mont-Book', sans-serif;
}

.header-content h5{
   color:#fff;    
  font-size:18px;
 margin-top:0px;
    letter-spacing: 1px;
   font-family: 'Mont-Book', sans-serif;
}  
    
}


/**********ABOUT SECTION*********/



.carousel-item2 {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.carousel-item2 h2 {
     letter-spacing:2px;
    font-size: 40px;
    color: #fff;
    padding-top: 5px;
    padding-left: 5px;
    text-align: left;
    font-family: 'Mont-Bold', sans-serif;    
    border-left : #FEBD11 7px solid;
}

.carousel-item2 p {
     letter-spacing:0px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 1.8em;
     font-family: 'Mont-Book', sans-serif; 
}

.carousel-background {
background:rgba(3,65,75,0.9);    
 margin-bottom: 10%;
    margin-top: 1%;
    float:left;
    margin-left: -15%;
    padding:1% 5% 1% 2%;
    width: 40%; 
    height: auto;
   
}

.about-content h3  {
     letter-spacing:2px;
    font-size: 30px;
    color: #fff;
    padding-top: 70px;
    padding-left: 5px;
    text-align: center;
    font-family: 'Mont-Bold', sans-serif;    
   
}


.about-content h3 span {    
    border-bottom: #FEBD11 7px solid;
}


.about-content h4 {
     letter-spacing:1px;
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 0px;
    text-align:left;
    font-family: 'Mont-Bold', sans-serif;    
   
}

.about-content h4 span{
   background: #FEBD11;
    padding: 5px 10px;
    border-radius: 3px;
}

.about-content img {
    border-radius: 7px;
}

.about-content h5  {
     letter-spacing:2px;
    font-size: 15px;
    color: #fff;
    padding-top:10px;
    padding-left: 0px;
    text-align:left;
    font-family: 'Mont-Book', sans-serif;    
   
}

.about-content p  {
     letter-spacing:0px;
    font-size: 12px;
    color: #fff;
    padding-top:3px;
    padding-left:0px;
    text-align:left;
    font-family: 'Mont-Book', sans-serif;    
   
}


@media(max-width:1024px) { 
 .carousel-background {
background:rgba(3,65,75,0.9);  
 margin-bottom: 10%;
    margin-top: 1%;
    float:left;
    margin-left: -5%;
    padding:1% 5% 1% 2%;
    width: 60%; 
    height: auto;
   
} 

}




@media(max-width:720px) { 
 .carousel-background {
background:rgba(3,65,75,0.9);  
 margin-bottom: 10%;
    margin-top: 1%;
    float:left;
    margin-left: -5%;
    padding:2% 5% 3% 5%;
    width: 90%; 
    height: auto;
   
}
    
    .about-content h4 {
     letter-spacing:1px;
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 0px;
    text-align:left;
    font-family: 'Mont-Bold', sans-serif;    
   
}
    
 .about-content h4 span{
   background: #FEBD11;
    padding: 10px 20px;
    border-radius: 3px;
}
   
    

}

  
    


/********SERVICES SECTION*********/
.services-wrapper {
    background:url(../images/service-bg.jpg) repeat center top;
   -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
    height:auto;
    width:auto;    
  padding:0px 0 160px 0;        
}

.service-content {
 margin-top:100px;       
}

.my-title h2 {
   color:#fff;    
  font-size:50px;
 margin-top:0px;
    letter-spacing: 3px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom: 5px;
    text-align: center;
    line-height: 1.4em;
}

.my-title h2 span {
    border-bottom: #FEBD11 7px solid;
}

.my-title img {
    border-radius:7px;
}

.my-title h4 {
   color:#fff;    
  font-size:30px;
 margin-top:20px;
    letter-spacing: 3px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom:10px;
    line-height: 1.4em;
    text-align:left;
}

.my-title h4 span {
    border-bottom: #FEBD11 5px solid;
     border-left:none; 
    padding-left:0px;   
}

.my-title h5 {
   color:#fff;    
  font-size:25px;
 margin-top:20px;
    letter-spacing: 2px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom:10px;
    line-height: 1.4em;
    text-align:left;
}


.my-title p {
   color:#fff;    
  font-size:16px;
 margin-top:12px;
    letter-spacing: 0px;
   font-family: 'Mont-Book', sans-serif; 
    padding-bottom: 5px;
    text-align:left;
}

@media(max-width:1024px) {
   .services-wrapper {
    background:url(../images/service-bg.jpg) repeat center top;
   -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment:scroll;
    height:auto;
    width:auto;    
  padding:0px 0 160px 0;        
} 
}

@media(max-width:720px) {
    
    .my-title h4 {
   color:#fff;    
  font-size:30px;
 margin-top:20px;
    letter-spacing: 3px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom:10px;
    line-height: 1.2em;
    text-align:left;
}
    
    .my-title h4 span {
    border-left: #FEBD11 5px solid;
    border-bottom:none; 
    padding-left:10px;    
    
}
    
    

.my-title p {
   color:#fff;    
  font-size:16px;
 margin-top:5px;
    letter-spacing: 0px;
   font-family: 'Mont-Book', sans-serif; 
    padding-bottom: 5px;
    text-align:left;
}    
    
}



/********PROJECTS SECTION*********/
.projects-wrapper {
    background:url(../images/projects-bg.jpg) repeat center top;
   -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
    height:auto;
    width:auto;    
  padding:0px 0 160px 0;        
}

@media(max-width:1024px) {
   .projects-wrapper {
    background:url(../images/projects-bg.jpg) repeat center top;
   -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment:scroll;
    height:auto;
    width:auto;    
  padding:0px 0 160px 0;        
} 
}

/*****CONTACT SECTION******/
.contact-wrapper {
    background:url(../images/contact-bg.jpg) repeat center top;
   -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height:auto;
    width:auto;    
  padding:0px 0 100px 0;        
}

.contact-details h5 {
   color:#fff;    
  font-size:18px;
 margin-top:0px;
    letter-spacing: 0px;
   font-family: 'Mont-Book', sans-serif; 
    padding-bottom: 1px;
    text-align:left;  
}

.contact-details h6 {
   color:#fff;    
  font-size:16px;
 margin-top:5px;
    letter-spacing: 0px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom: 1px;
    text-align:left;  
}

.contact-details img {
    width: 50px;
    height: auto;
    margin-top: 5px;
    float: left;
}

.contact-details2 h5 {
   color:#fff;    
  font-size:24px;
 margin-top:5px;
    letter-spacing: 2px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom: 1px;
    text-align:center;  
}

.contact-details2 img {
    padding: 5px;
    width: 60px;
    height: auto;
    float:none;
}

.contact-details p {
    text-align: center;
}

.contact-content form {
   font-family: 'Mont-Book', sans-serif; 
     color:#535353;
}

label {
   color:#535353;  
}

.contact-details input {
  background-color: rgba(255,255,255, 0.8);
  font-family: 'Mont-Book', sans-serif;     
  border:none;    
}

.contact-details textarea {
  background-color: rgba(255,255,255, 0.8);
  font-family: 'Mont-Book', sans-serif;     
  border:none;  
    
}

.contact-submit {
  background:#2e8eff;  
  color:#fff;
    border:none;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
    transition: 0.5s;
}

.contact-submit:hover {
  background:#1d74db;  
  color:#fff;
    border:none;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-radius: 5px;
}


footer {
    background: #242429;
    padding: 25px 0px 6px 0px;
    color:#fff;
}


.footer-content {
    margin: 0 auto;
    text-align: center;
}


footer img {
    width: 90px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    border-radius: 2px;
}


footer p a {
  font-size: 12px;
  font-weight: 500; 
  color:#fff;
    text-align:right;
    line-height: 2em;
    letter-spacing: 1px;
    padding: 15px;
    margin-top: 10px;
     font-family: 'Mont-Book', sans-serif;   
}

.footer2 {
    background:#121214;
    padding: 10px 0 2px 0;
}

.footer2 p {
   font-family: 'Mont-Book', sans-serif; 
    font-size: 10px;
    color:#fff;
    opacity: 0.6;
}


@media(max-width:1024px) {
  
.contact-wrapper {
    background:url(../images/contact-bg.jpg) repeat center top;
   -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    width:auto;    
  padding:0px 0 120px 0;        
} 
footer {
    background: #242429;
    padding: 45px 10px 30px 10px;
    color:#fff;
}
    
    
    
    
 footer h5 {
  font-size: 16px;
  font-weight: 600; 
  color:#fff;
    text-align: left;
    margin-top: 20px;
    letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;     
}



footer h6 {
  font-size: 14px;
  font-weight: 500; 
  color:#fff;
    text-align: left;
    line-height: 1.8em;
    letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;     
}
   
 
    
 .footer2 {
    background:#121214;
    padding: 20px 0 5px 0;
}

.footer2 p {
   font-family: 'Montserrat', sans-serif; 
    font-size: 12px;
    color:#fff;
    opacity: 0.6;
} 
    
 .contact-details h5 {
   color:#fff;    
  font-size:16px;
 margin-top:0px;
    letter-spacing: 0px;
   font-family: 'Mont-Book', sans-serif; 
    padding-bottom: 1px;
    text-align:center;  
}

.contact-details h6 {
   color:#fff;    
  font-size:14px;
 margin-top:5px;
    letter-spacing: 0px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom: 1px;
    text-align:center;  
}   
    
 .contact-details img {
    width: 50px;
    height: auto;
    margin-top: 5px;
    float:none;
}   
       
}



@media(max-width:720px) {
 .contact-details h5 {
   color:#fff;    
  font-size:18px;
 margin-top:0px;
    letter-spacing: 0px;
   font-family: 'Mont-Book', sans-serif; 
    padding-bottom: 1px;
    text-align:center;  
}

.contact-details h6 {
   color:#fff;    
  font-size:16px;
 margin-top:5px;
    letter-spacing: 0px;
   font-family: 'Mont-Bold', sans-serif; 
    padding-bottom: 1px;
    text-align:center;  
} 
    
 .contact-details img {
    width: 50px;
    height: auto;
    margin-top:10px;
    float:none;
}   
    
    
}