@import url(https://fonts.googleapis.com/css?family=Open+Sans|Raleway);
@import url(https://fonts.googleapis.com/css?family=Raleway:900);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap');


@font-face {
    font-family:Mont-Black;
    src: url(../fonts/Mont-Black.otf);
}
@font-face {
    font-family:Mont-Bold;
    src: url(../fonts/Mont-Bold.otf);
}
@font-face {
    font-family:Mont-Book;
    src: url(../fonts/Mont-Book.otf);
}


*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
body,html{
    font-size:100%;
    padding:0;
    margin:0;
    
} 


h1 {
   font-size:50px; 
}

h2 {
   font-size:45px; 
}

h3 {
   font-size:35px; 
}

h4 {
   font-size:30px; 
}

h5 {
   font-size:25px; 
}

h6 {
   font-size:20px; 
}


p {
    font-family: 'Dubai Regular', sans-serif;    
    letter-spacing:0px;
     font-size:16px; 
}


/*****HOME SECTION******/
.main-wrapper{
    background-color: skyblue;
    height:100vh;
}

.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #fff;
  color: #E8D29E;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -30rem;
  padding: 6rem 2rem 2rem 5rem;
  position: fixed;
  top: 0;
  width: 30rem;
  z-index: 1;
}

.nav.expanded { left: 0; }

.nav ul {
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
    font-family: 'Mont-Book', sans-serif;   
    font-size: 20px;
}

.nav ul li {
     padding: 6px 0;
     border-bottom:#E8D29E solid 1px;
}


.nav li a {
    color:#000000;
     
}

.nav li a:hover {
    color:#000000;
     text-decoration: none;
}

.nav h6 {
  position: absolute;
  top: 65%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
    font-family: 'Mont-Book', sans-serif;   
    font-size: 16px;
}

.nav h6 img {
    width: 29px;
    padding: 4px;
    height: auto;
}


.nav p {
  position: absolute;
  top: 75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
font-family: 'Mont-Book', sans-serif;   
    font-size: 14px;
    color:#000;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 2.2rem;
   color: #E8D29E;
  z-index: 2;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background:#E8D29E;
  content: '';
  color: #E8D29E;    
  height: 0.3rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background:#E8D29E;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


@media(max-width:720px) {
    
  .nav ul {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
    font-family: 'Mont-Book', sans-serif;   
    font-size: 20px;
}

.nav ul li {
     padding: 6px 0;
     border-bottom:#E8D29E solid 1px;
}


.nav h6 {
  position: absolute;
  top: 65%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
    font-family: 'Mont-Book', sans-serif;   
    font-size: 16px;
}

.nav h6 img {
    width: 29px;
    padding: 4px;
    height: auto;
}


.nav p {
  position: absolute;
  top:75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
font-family: 'Mont-Book', sans-serif;   
    font-size: 14px;
    color:#000;
}  
    
}

@media(max-width:450px) {
   
    .nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #fff;
  color: #E8D29E;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -30rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 30rem;
  z-index: 1;
}
    
    
    .nav ul {
  position: absolute;
  top: 27%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
    font-family: 'Mont-Book', sans-serif;   
    font-size: 20px;
}

.nav ul li {
     padding: 6px 0;
     border-bottom:#E8D29E solid 1px;
}


.nav h6 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
    font-family: 'Mont-Book', sans-serif;   
    font-size: 16px;
}

.nav h6 img {
    width: 29px;
    padding: 4px;
    height: auto;
}


.nav p {
  position: absolute;
  top:57%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
font-family: 'Mont-Book', sans-serif;   
    font-size: 12px;
    color:#000;
}  
    
}