
@font-face {
    font-family:mrseaves;
    src: url(../fonts/mrseaves.ttf);
}

@font-face {
    font-family:Helvetica;
    src: url(../fonts/Helvetica.ttf);
}
@font-face {
    font-family:MrsEavesRomanRegular;
    src: url(../fonts/MrsEavesRomanRegular.ttf);
}
@font-face {
    font-family:Goudy Old Style Regular;
    src: url(../fonts/Goudy Old Style Regular.ttf);
}


/* Styles go here */
body {

  top: 0;
  color:#fff;
}

/* this is only to style the sidebar - you can make the sidebar look any way you want */
.sidebar {
  padding: 10px;
  background-color: #fafafa;
  border-right: 1px solid #eee;
}


.icon-bar {
	color: red!important;
	background-color: red!important;
}

/*******CAROUSEL******/
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
	top:0;
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
	width: 15px;
  height: 15px;
    background-color: red;
    border-color: red;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 15px;
  height: 15px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
	opacity:1;
	padding:2%;
    text-align: center;
    /*text-shadow: 1px 1px 0 rgba(0,0,0,.75);*/
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
			  font-family: 'mrseaves','Open Sans',sans-serif!important;
}
/*.hero h1 {
	font-weight: 400;
    font-size: 6em;    
	letter-spacing:5px;
    margin-top: 10%;
    padding: 0;
	font-style:italic;
	opacity: 1;
    font-family: 'mrseaves','Open Sans',sans-serif!important;
}*/

.slide1_font h1 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:470%;
	font-weight:600;
	letter-spacing:1px;
}

.slide1_font h3 {
	font-family:'MrsEavesRomanRegular',sans-serif!important;
	font-size:380%;
	font-weight:600;
	letter-spacing:1px;
}

.slide1_font h3 span{
	font-family:'Goudy Old Style Regular',sans-serif!important;
	font-size:70%;
	font-weight:600;
	font-style: italic;
	letter-spacing:1px;
}

.slide2_font h2 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:380%;
	font-weight:600;
	letter-spacing:1px;
}
.slide2_font h3 {
	font-family: 'Goudy Old Style Regular', sans-serif!important;
	font-size:340%;
	font-weight:normal;
	letter-spacing:1px;
	font-style: italic;
}

.slide3_font h2 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:360%;
	font-weight:600;
	letter-spacing:1px;
}

.slide4_font h3 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:340%;
	font-weight:600;
	letter-spacing:1px;
}

.slide4_font h4 {
	font-size:240%;
	font-family: 'Goudy Old Style Regular', sans-serif!important;
	letter-spacing:2px;
	font-style: italic;
}

/*.hero h2 {
    font-size: 2.5em;    
    font-weight:700;
	letter-spacing:3px;
    margin: 10% 0 0 0;
	padding: 0;
	opacity: 1;
	font-family:'MrsEavesRomanRegular',sans-serif!important;
}*/

 .hero ul li {
	 padding:;
	display: inline;
	font-size:240%;
	font-weight:bold;
	letter-spacing:1px;
	list-style-type:none;
	font-family:'MrsEavesRomanRegular',sans-serif!important;
}

/*.hero h3{
	font-size: 2.1em; 
	letter-spacing:3px;
	font-family: 'Helvetica','Open Sans',sans-serif;
	
}*/


.my_bold {
	font-family: 'Helvetica', sans-serif!important;
	font-size: 1.7em!important;
	line-height: 1.5em;
	font-weight: bold;
}

.my_bold  span{
	font-family: 'Pacifico', cursive!important;
	font-size: 1em!important;
	font-weight:200!important;
	font-style:italic;
	letter-spacing:5px;
	padding-bottom:5%!important;
}

.begin h3  {
	font-family: 'Pacifico', cursive!important;
	font-size: 2em;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1!important;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 7px 20px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #2d3347;
    border-color: #fff;
    outline: none;
	font-size:23px;
    margin: 20px auto;
	letter-spacing: 3px;
}

.btn.btn-lg a {
	color:#fff;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url("../img/slide1.jpg"); 
}
.fade-carousel .slides .slide-2 {
  background-image: url("../img/slide2.jpg"); 
}
.fade-carousel .slides .slide-3 {
  background-image: url("../img/slide3.jpg"); 
}
.fade-carousel .slides .slide-4 {
  background-image: url("../img/slide4.jpg"); 
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }   
}
@media screen and (max-width: 640px){
   
  /* .hero h1 {
    font-size: 2.9em;    
    font-weight: 600;
	letter-spacing:2px;
    margin-top: 10%;
	font-style:italic;
    padding: 0;
	opacity: 1;
	font-family: 'mrseaves','Open Sans',sans-serif!important;
}*/
.slide1_font h1 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:260%;
	font-weight:700;
	letter-spacing:1px;
}

.slide1_font h3 {
	font-family:'MrsEavesRomanRegular',sans-serif!important;
	font-size:240%;
	font-weight:600;
	letter-spacing:1px;
}

.slide1_font h3 span{
	font-family:'Goudy Old Style Regular',sans-serif!important;
	font-size:65%;
	font-weight:600;
	font-style: italic;
	letter-spacing:1px;
}

.slide2_font h2 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:205%;
	font-weight:600;
	letter-spacing:1px;
}
.slide2_font h3 {
	font-family: 'Goudy Old Style Regular', sans-serif!important;
	font-size:180%;
	font-weight:normal;
	letter-spacing:1px;
	font-style: italic;
}

.slide3_font h2 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:200%;
	font-weight:600;
	letter-spacing:1px;
}

.slide4_font h3 {
	font-family: 'Helvetica', sans-serif!important;
	font-size:190%;
	font-weight:600;
	letter-spacing:1px;
     word-wrap: break-word; 
}

.slide4_font h4 {
	font-size:190%;
	font-family: 'Goudy Old Style Regular', sans-serif!important;
	letter-spacing:2px;
	font-style: italic;
}

/*.hero h2 {
    font-size: 1.6em;    
    font-weight: bold;
	letter-spacing:2px;
	font-family:'MrsEavesRomanRegular',sans-serif!important;
    margin:10% 0 0 0;
     padding: 0;
	opacity: 1;
	line-height:1.5em;
}
.hero h3{
	font-size: 1.2em;
	letter-spacing:3px;
	font-family: 'Helvetica','Open Sans',sans-serif!important;
	text-align: center;
	
}*/

.hero ul li {
	 padding:;
	display: block;
	font-size:160%;
	font-weight:bold;
	letter-spacing:1px;
	list-style-type:none;
	font-family:'MrsEavesRomanRegular',sans-serif!important;
}

.my_bold {
	font-family: 'Helvetica', sans-serif!important;
	font-size: 1.6em!important;
	line-height: 1.4em;
	font-weight : bold!important;
	padding:3%;
}

.my_bold  span{
	font-family: 'Pacifico', cursive!important;
	font-weight:200!important;
	font-style:italic;
    padding-bottom: 5%;
}

.begin h3  {
	font-family: 'Pacifico', cursive!important;
	  font-size: 1em; 
}

.fade-carousel .slides .slide-1 {
  background-image: url("../img/slide11.jpg"); 
}	
.fade-carousel .slides .slide-2 {
  background-image: url("../img/slide22.jpg"); 
}
.fade-carousel .slides .slide-3 {
  background-image: url("../img/slide33.jpg"); 
}
.fade-carousel .slides .slide-4 {
  background-image: url("../img/slide4.jpg"); 
}
}
/*******END OF CAROUSEL******/
#vision_container {
  background-color : #e2e2e2;
}
.vision_container2 {
  background-color : #fff;
  margin: 5% 0;
  padding: 4% 0;
}
.vision_container2 h3 {
  text-align:center;
  font-size: 2.3em;
  font-weight: bold;
  margin:7% 0 5% 0;
  letter-spacing:3px;
  color:#2d3347;
font-family:'Helvetica',sans-serif!important;
}

.vision_container2 p {
  text-align:center;
  font-size: 180%;
  font-weight:normal;
  letter-spacing:1px;
  font-style:italic;
  color: #2d3347;
   font-family: 'MrsEavesRomanRegular','Open Sans',sans-serif!important;
  padding: 1%;
}

.right_border {border-right : #e2e2e2 solid 2px; padding-right:5%;  }

.vision_container3 {
	padding:7% 1% 5% 1%;
}

.vision_container3 span {
	
	text-align: center;
	color: #2d3347;
	padding: 10px 20px;
	border : #e2e2e2 solid 2px; 
}
#scope_of_mission {
     background: url("../img/scope.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     width: 100%;
   background-attachment: fixed; 
    color: #f0f0f0;
	padding: 5% 1%;
}

#scope_of_mission h3 {font-size:400%; letter-spacing:2px;text-transform: lowercase;
font-family: 'mrseaves','Open Sans',sans-serif!important;
}
#scope_of_mission p{
	font-size:1.5em;
	letter-spacing:1px;
	font-family:'MrsEavesRomanRegular',sans-serif!important;
	}
.quote{
	margin-left: 25px;
	padding-left: 10px;
	font-style: italic;
	border-left: #e2e2e2 solid 2px;
}
.ps h1 {
	font-weight: bold;
	line-height:1.3em;
	 font-family: 'mrseaves','Open Sans',sans-serif!important;
}

.ps h3 {
	font-weight: bold;
	line-height:1em;
	letter-spacing:1px;
	font-family: 'Helvetica','Open Sans',sans-serif!important;
}

.ps {
	margin-top: 5%;
   color: #2d3347;
	text-align: center;
}

.ps p {
	font-size:1.4em;
	padding: 0 3%;
	text-align: left;
	font-family:'MrsEavesRomanRegular',sans-serif!important;
}

.pss :hover {
	background-color:#d1d1d1;
	padding:1%;
}

.home_mentor {
    background: url("../img/mentor_back.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height : auto;
     width: 100%;
    padding: 7% 2%;
	text-align: center;
}

.home_mentor img {opacity: .7;}
 
.home_mentor h2 {
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    font-size: 250%;
    font-weight: bolder;
    padding-bottom: 15px;
}

.home_mentor p{font-size:1.5em;}

.my_button2 span  {
	text-align:center;
    padding: 5px 10px;
    border: #fff 3px solid;
}

.my_button2 span a  {
    color: #fff;
}
.my_button2 span a:hover {
        color:#1ba4ce;
}
.my_button2 span:hover {
    padding: 5px 10px;
background-color: #fff;

}

@media screen and (max-width: 980px){
	.right_border {border-right : none; padding-right:5%;  }
	
	.quote{
	margin-left: 0px;
	padding-left: 0px;
	font-style: italic;
	border-left: none;
}

#scope_of_mission {
     background: url("../img/scope.jpg") repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     width: 100%;
   background-attachment:scroll; 
    color: #e2e2e2;
	padding: 5% 1%;
}


}


footer {
    background-color:  #333333;
    color:  #fff;
    border-top: #fff 1px solid;
    text-align: center!important;  
}

footer p{
  
padding-top: 1%;    
letter-spacing: 0.2rem;
}
