#particles-js{
  background-color: #ff8a00 /*#1c2735*/;
  max-height:auto;
    padding: 5% 2% !important;
   margin-top:-2%;
}

#particles-js h2 {
     font-family: 'MarkOT-Bold', sans-serif!important;
    font-weight:600;
}

#login{
  background:rgba(255,255,255,0.8);
  opacity:0.9;
  padding:2em 5.5em;
  position:absolute;
    height:auto;
  /*top:100px;
  left:50px;
    color:#454545;*/
  margin-top:4%;
    color:#454545;
}

#login input[type="text"], #login input[type="password"]{
  padding:0px 7px;
  margin-bottom:0px;
  border:1px #ccc solid;
}

#content_tohide1  {
    display: block;
}

#content_tohide2  {
    display: none;
}


@media(max-width:960px){
  
    #content_tohide1  {
    display: none;
}
    
     #content_tohide2  {
    display:block;
}
}



